body {background-color: rgb(99, 99, 99);
margin: 0%}

@media screen and (max-width: 880px) {
        .biblioteca {visibility: hidden;}
}


/**EFEITO PARALLAX**/

.header-site {background-image: url(imagens/parallax/Chuva.jpg);
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
color: white;
padding-top: 60px;
padding-bottom: 60px;
width: 841px;
margin-left: -81;
border-top: solid 20px rgba(235, 235, 235);
border-bottom: solid 20px rgba(235, 235, 235);}

.text-parallax {text-align: center;
font-size: 40;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.header-site2 {background-image: url(imagens/parallax/praia3.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        padding-top: 60px;
        padding-bottom: 60px;
        width: 841px;
        margin-left: -81;
        border-top: solid 20px rgba(235, 235, 235);
        border-bottom: solid 20px rgba(235, 235, 235);


}
.header-site3 {
        background-image: url(imagens/parallax/industria.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        padding-top: 60px;
        padding-bottom: 60px;
        width: 841px;
        margin-left: -81;
        border-top: solid 20px rgba(235, 235, 235);
        border-bottom: solid 20px rgba(235, 235, 235)


}

.header-site4 {background-image: url(imagens/parallax/oquefazer.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        padding-top: 60px;
        padding-bottom: 60px;
        width: 841px;
        margin-left: -81;
        border-top: solid 20px rgba(235, 235, 235);
        border-bottom: solid 20px rgba(235, 235, 235)}










/*--BACKGROUND DAS NUVENS--*/
.section {position: fixed;
        overflow: hidden;
        right: 0; 
	bottom: 0;
	min-width: 100%; 
        min-height: 100%;
        z-index: -10;
        background-size: cover;
        background: url(imagens/nuvens.jpg) no-repeat;
        
        
}


/*--TITULO DA CAPA--*/
#titulo {background: url(imagens/meninoempapel.jpg);
        background-size: cover;
        width: 713px;
        top: -83;
        left: 290 ;
        font-size: 65px;
        float: left;
        text-align: center;
        padding: 60px;
        padding-top: 30;
        padding-bottom: 45 ;
        margin-left: 330px;
        margin-top: -10;
        color: honeydew;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-left: solid 1px rgb(37, 86, 109);
        border-right: solid 1px rgb(37, 86, 109);
        border-bottom: solid 1px rgba(37, 86, 109);
}

/*--BARRA DE MENU--*/

.b-menu-left { 
        border-bottom-left-radius: 15px;
        padding: 3px;
        border: solid 1px rgb(37, 86, 109);
        display: inline-block;
        background-color: rgba(37, 86, 109, 0.74);
        margin-top: 143 ;
        margin-left:-835;
        overflow: hidden;
        }
   

           
.b-menu-1 {padding: 3px;
        font-size: 20px;
        border: solid 1px rgb(37, 86, 109);
        float: left;
        margin: 1px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     
        background-color: rgba(37, 86, 109, 0.74);        
        overflow: hidden;
        position: relative;
        top: -44;
        right: -326;
       }

.b-menu-2 {padding: 3px;
        font-size: 20px;
        border: solid 1px rgb(37, 86, 109);
        float: left;
        margin-top: 1px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;        
        background-color: rgba(37, 86, 109, 0.74);        
        overflow: hidden;
        position: relative;
        top: -44;
        right: -326;}

.b-menu-right {padding-right: 10px;
        padding-left: 10px;
        border-bottom-right-radius: 15px;
        padding: 3px;
        border: solid 1px rgb(37, 86, 109);
        display: inline-block;
        background-color: rgba(37, 86, 109, 0.74);
        overflow: hidden;
        position: relative;
        left: 249;}
 
.icones-size {width: 28px}

.no-link {text-decoration: none;
        color: white;}







/*--SLOGAN DA CAPA--*/
#slogan {font-family: 'Segoe UI',
        'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        left: 400px ;
        top: 100px;
        color: white;
    }

/*--TITULO VERTICAL ODS--*/
ODS13 {
        font-size: 45;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        left: 965;
        bottom: 8;
        text-orientation: sideways-right;
        writing-mode: vertical-rl;
        }

/*--LOGO DA CAPA--*/
logotipo {position: absolute;
        top: 25px;
        left: 270px;}


/*--TITULOS H3--*/
h3 {font-size: 25px;
    color: white;
    padding: 3px;
    text-align: center;
    margin-top: 50px;
    background-color: green;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*--POSICIONAMENTO DOS GRÁFICOS--*/
#grafico1 {margin-top:30;}
#grafico2 {margin-top:30;}
#img-terra {padding-bottom: 60px;
           margin-top: 100px;}






/*--CONTEINER DE CONTEUDOS--*/
#conteudo {
        background-color: rgb(255, 255, 255);
        color: rgb(61, 61, 61);
        width: 18cm;    
        font-size: 22px;
        padding-left: 2cm;
        padding-right: 2cm;
        padding-top: 2cm;
        padding-bottom: 2cm;
        margin-left: 330px;    
        margin-top: 0px;   
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        border-radius: 15px;
        border: solid 5px rgb(235, 235, 235)}

        .espaco {text-indent: 65px;}

        .text-title {color: rgb(15, 15, 29);
                font-size: 27px;
                text-align: left;
                text-transform: uppercase;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-style: 20px ;}

        .texts-link {text-decoration: none;
                background-color: rgb(245, 245, 245);
                color: rgb(37, 86, 131);
                border: solid 1px rgb(136, 136, 136);
                border-radius: 30px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 18px;}

        .coluna-de-texto { width: 45%;
                display: inline-block;
        padding-left: 3%;}

        .br-large {padding-top: 3cm;}
        
        .credito-ao-discussor{font-size: 17px;
                text-decoration: none;
                background-color: rgb(227, 228, 230);
                color: rgb(0, 0, 0);
                border: solid 1px rgb(56, 114, 190);
                border-radius: 2px;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 17px;
                text-align: center;}

        .imagens-right {
                float: right;
                padding-left: 2%;}

        .imagens-left {float: right;
                padding-right: 2%;
                padding-top: 1%;}
        
       

        

        .img-discussores {border-radius: 50%;
                border: 1px solid rgb(236, 236, 236);
                
        }

        .bloco1 {width: 40%;
                height: auto;
                display: inline-block;
                text-align: left;}

                #box1 {background-color: rgb(200, 222, 240);
                        padding: 3%;
                        border-radius: 8px;
                        border: solid 2px rgb(31, 88, 92);}
         
                 #box2 { background-color: rgb(232, 222, 236);
                         padding: 3%;
                         border-radius: 8px;
                         border: solid 2px rgb(31, 88, 92);
                         float: right;}
                 
        .bloco2 {width: 94%;
                height: auto;
                display: inline-block;
                text-align: left;}

                 #box3 {background-color: rgb(163, 236, 173);
                        padding: 3%;
                        color: rgb(0, 51, 0);
                        border-radius: 8px;
                        border: solid 2px rgb(31, 88, 92);
                        margin-top: 40px;}
        
        .bloco3 {width: 40%;
                height: auto;
                display: inline-block;
                text-align: left;}
                
                #box4 {background-color: rgb(232, 222, 236);
                        padding: 3%;
                        color: rgb(0, 51, 0);
                        border-radius: 8px;
                        border: solid 2px rgb(31, 88, 92);
                        margin-top: 40px;}

        .bloco4 {width: 40%;
                height: auto;
                float: right;
                text-align: left;   }

                #box5 {background-color: rgb(238, 232, 176);
                        padding: 3%;
                        color: rgb(0, 51, 0);
                        border-radius: 8px;
                        border: solid 2px rgb(31, 88, 92);
                        margin-top: 40px;}

        .bloco5 {width: 40%;
                height: auto;
                display: inline-block;
                text-align: left;}

                #box6 {background-color: rgb(200, 222, 240);
                        padding: 3%;
                        border-radius: 8px;
                        border: solid 2px rgb(31, 88, 92);
                         margin-top: 40px;}
        
        .bloco6 {width: 94%;
                height: auto;
                display: inline-block;
                text-align: left;}

                        #box7 {background-color: rgb(163, 236, 173);
                        padding: 3%;
                        color: rgb(0, 51, 0);
                        border-radius: 8px;
                        border: solid 2px rgb(31, 88, 92);
                        margin-top: 40px;}
/*--------------------------------------------------------------------------------*/


        

/*--BIBLIOTECA FIXA A ESQUERDA--*/
.biblioteca{border-right: solid 01px rgb(37, 86, 109);
        font-size: 25px;
        text-align: center;
        padding: 28;
        padding-bottom: 600;
        background-color: rgba(0, 111, 145, 0.445);
        color: white;
        text-shadow: black;
        position: fixed;
        left: -5 ;
        top: 0;
        z-index: 11;      
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
}
        .botão {border-bottom: solid 1px rgba(255, 255, 255, 0.24);
                color: rgb(224, 224, 224);
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 20px;
                text-align: center;
                padding: 5px;       
                position: fixed;
                left: 30;
                top: 70;
                }
                
                #b0 {position: fixed;
                     padding-right: 45;}

                #b1 {position: fixed;
                     top: 109px;
                     padding-right:146px ;}

                #b2 {position: fixed;
                     top: 148px;
                     padding-right:42px ;}

                #b3 {position: fixed;
                     top: 187px;
                     padding-right:67px ;}

                #b4 {position: fixed;
                     top: 226;
                     padding-right:101px ;}

                #b5 {position: fixed;
                     top: 265;
                     padding-right:126px ;}

                #b6 {position: fixed;
                     top: 304;
                     padding-right:134px ;}

                #b7 {position: fixed;
                    top: 343;
                    padding-right:130px ;}

                #b8 {position: fixed;
                     top:382;
                     padding-right:100px;}

                
        
                .links {text-decoration: none;
                        color: white;}

                .botão:hover {background-color: rgba(247, 247, 247, 0.089)}
/*----------------------------------------------------------------------------*/

                





        




        


               